body {
	width: 100vw;
	height: 100vh;
	margin: 0;

	--color-10: #ffffff;
	--color-9: #becdb9;
	--color-8: #a4b99d;
	--color-7: #89a580;
	--color-6: #708f65;
	--color-5: #597251;
	--color-4: #43553d;
	--color-3: #2c3928;
	--color-2: #161c14;
	--color-1: #030403;
	--color-0: #000000;

	--text-color: #d6dfd2;
	--text-color-emphasized: #75956a;

	--border-width: 4px;
	--border-bright: #6a865f;
	--border-dark: #232d20;
	--border-divider: #3b4b35;

	--background-page: #0c0f0b;
	--background-surface: #2f3c2a;
	--background-container: #0c0f0b;

	--spacing-l: 16px;
	--spacing-m: 8px;
	--spacing-s: 4px;
}
